.navbar {
    background-color: darkslateblue;
    overflow: hidden;
}

.navbar a {
    float: top;
    color: white;
    text-align: center;
    padding: 0px 50px;
    text-decoration: none;
    font-size: 20px;
    margin: 50px;
}

.navbar a:hover {
    background-color: beige;
    color: white;
}

.navbar a.active {
    background-color: red;
    color: white;
}
h1{
    color: darkslateblue;

}