<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin</title>
    <link rel="stylesheet" href="../css/admin-styles.css">
</head>
<body>
    <%- include ('nav.ejs') %>
<div class="center-text">
    <div class="userTable" id="userTable">
    </div>
</div>
</body>
</html>