<ul class="navbar">
    <li class="navbar-li">
        <a class="nav-item" href="/user/dashboard">User Dashboard</a>
    </li>
    <li class="navbar-li">
        <a class="nav-item" href="/admin">Dashboard</a>
    </li>
    <li class="navbar-li">
        <a class="nav-item" href="/admin/opret-board">Opret Board</a>
    </li>
    <li class="navbar-li">
        <a class="nav-item" href="/admin/rediger-board">Rediger Board</a>
    </li>
</ul>