<ul class="navbar">
    <li class="navbar-li">
        <a class="nav-item" href="/">Hjem</a>
    </li>
    <li class="navbar-li">
        <a class="nav-item" href="/omos">Om Os</a>
    </li>
    <li class="navbar-li">
        <a class="nav-item" href="/kontakt">Kontakt Os</a>
    </li>
    <li class="navbar-li">
        <a class="nav-item" href="/login">Login</a>
    </li>
    <li class="navbar-li">
        <a class="nav-item" href="/register">Register</a>
    </li>
</ul>