<ul class="navbar">
    <li class="navbar-li">
        <a class="nav-item" href="/user/dashboard">Dashboard</a>
    </li>
    <li class="navbar-li">
        <a class="nav-item" href="/user/kalender">Arrangementer</a>
    </li>
    <li class="navbar-li">
        <a class="nav-item" href="/user/book-board">Book Board</a>
    </li>
    <li class="navbar-li">
        <a class="nav-item" href="/user/reglement">Reglement</a>
    </li>
    <li class="navbar-li">
        <a class="nav-item" href="/user/profil">Profil</a>
    </li>
    <li class="navbar-li">
        <a class="nav-item" href="/logout">Log Ud</a>
    </li>
</ul>