<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profil</title>
    <link rel="stylesheet" href="../css/user-styles.css">
    <script src="../app/Login.js"></script>
    <script src="../app/Profil.js"></script>

</head>
<body>
    <% if (userType === 'admin') { %>
        <%- include ('adminNav.ejs') %>
    <% } else { %>
        <%- include ('nav.ejs') %>
    <% } %>
<div class="center-text">
    <h1>Profil</h1>
    <a>Skift password: </a><input id="newPassword" value=""> <button onClick="changePassword()">Skift Password</button> <br>
    <a>Skift email: </a><input id="newEmail" value=""> <button onClick="changeEmail()">Skift Email</button>
</div>
</body>
</html>